[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyparsing = "==3.0.8"
PyQt5 = "==5.15.6"
PyQt5-Qt5 = "==5.15.2"
PyQt5-sip = "==12.10.1"
QDarkStyle = "==3.0.3"
QtPy = "==2.0.1"

[dev-packages]

[requires]
python_version = "3.10"
